.background{
	background-color: white;

}

.body{
	margin-top: 0px;
	color: black;
	text-align:center;
}

#Discription{

	color:black;
	text-align: center;
	font-size: 100%;
	font-family: "YuGothic","游ゴシック",sans-serif;
	margin-top: 50px;
	margin-bottom: 50px;
}
.Goal{

	color:black;
	text-align: center;
	font-family: "YuGothic","游ゴシック",sans-serif;
	font-size: 80%;
	margin-top: 50px;
	margin-bottom: 50px;
}
.contentA{
	float: left;
	text-align: center;
	width: 300px;
	font-family: "YuGothic","游ゴシック",sans-serif;
	border-bottom: blue 2px solid;
	margin-right: 50px;

}
.contentB{
	text-align: center;
	font-family: "YuGothic","游ゴシック",sans-serif;
	
	margin-left: 50px;

}
table{
	margin-top: 300px;
	float: right;
	font-family: "YuGothic","游ゴシック",sans-serif;
	border-collapse: collapse;
	width: 120;
}
th.profile{

	border-bottom: blue 2px solid;

}







