#header{

	height: 5%;
	background-color: red;
	margin: 0;
}
#contentA{

	background-color: orange;
	height: 80%;
	width: 33%;
	float: left;
	margin-left: 0;
	margin-right: 0;

}
#contentB{

	background-color: black;
	height: 80%;
	width: 33%;
	color: white;
	float: left;
	margin-left: 0;
	margin-right: 0;
}
#contentC{

	background-color: white;
	height: 80%;
	width: 33%;
	float: left;
	margin-left: 0;
	margin-right: 0;
}
#footer{

	height: 15%;
	background-color: blue;
	width: 100%;
	clear: both;
}	
