@charset 'utf-8';

#header{

	height: 5%;
	background-color: white;
	color: black;
	margin: 0;
	padding: 0;
}
#contentA{

	background-color: black;
	color: white;
	text-align: left;
	height: 80%;
	width: 20%;
	float: left;
	margin-left: 0;
	margin-right: 0;

}
#contentB{

	background-color: white;
	color: black;
	height: 80%;
	width: 80%;
	float: left;
	margin-left: 0;
	margin-right: 0;
}
#footer{

	height: 15%;
	background-color: blue;
	width: 100%;
	clear: both;
}	
